
# C++ Object Files
*.o

# Compiler Default Outputs
a.out

# Valgrind Dumps
vgcore.*

# `build` directory
build

# Visual Studio Settings
.vscode
*.code-workspace

# Clangd Cache
.cache

# voting_system Outputs
audit_log*
media_report*
